h1 { 
    text-align: center;
}

td {
    width: 33%
}

tr {
    height: 33%
}

.board {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.top {
    border-bottom: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}